@model IEnumerable<FilanWeb.Models.Costumer>
@{
    ViewBag.Title = "CostumerList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Costumers</h2>
<a href="@Url.Action("New", "Costumers")"><button type="submit" class="btn btn-primary">Add New Movie</button></a>
<br>
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Costumer</th>
            <th>Discount Rate</th>
            <th>Membership Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var costumer in Model)
        {
            <tr>
                <td>@Html.ActionLink(costumer.Name, "Edit", "Costumers", new { id = costumer.Id }, null)</td>
                <td>@costumer.MembershipType.DiscountRate%</td>
                <td>@costumer.MembershipType.Name</td>
            </tr>
        }
    </tbody>
</table>

